/* styling for dashboard, submission forms and displays */
* {
    font-family: Century;
}

.titles {
    text-decoration: underline;
    color: green;
    text-transform: uppercase;
}

/* style dvd images for dashboard */
#imageCard {
    padding: 5px;
    height: 250px;
    width: 250px;
    border: 10px black;
}

#deleteBtn {
    float:right;
    background-color: red;
    color: white;
}

#updateBtn {
    float:right;
    background-color: yellow;
    color: white;
}

#dashboard {
    margin: auto;
    width: 50%;
}

#dashboardLogo {
    height: 200px;
    width: 200px;
    width: 50%;
    text-align: center;
    margin: auto;
    display: block;
}

#dashboard_title {
    text-decoration: underline;
    text-align: center;
    margin: 0;
}

#order_btn {
    margin: 0;
    text-align: center;
}

.gold_star {
    width: 50px;
    height: 50px;
}

#review_image {
    width: 150px;
    height: 150px;
}

#login_form {
    margin-right: 80px;
    margin-left: 200px;
}