{% include 'header.html'%}                        <!-- include header as already has inherited main -->
{% block body %}

    <h1>Please add a DVD in the below form.</h1>
    <hr>

    <div class="container">
        <!-- multiple data types (text, images, file) etc -->
        <form action="{{ url_for('add_dvds') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputEmail3" value="{% if dvd %} {{ dvd.name }} {% endif %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" name="description" class="form-control" id="inputEmail3" value="{% if dvd %} {{ dvd.description }} {% endif %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Price (£)</label>
                <div class="col-sm-10">
                    <input type="text" name="price" class="form-control" id="inputEmail3" value="{% if dvd %} {{ dvd.price }} {% endif %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" name="quantity" class="form-control" id="inputEmail3" value="{% if dvd %} {{ dvd.quantity }} {% endif %}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Image</label>
                <div class="col-sm-10">
                                 <label for="formFile" class="form-label">Add movie image here</label>
                                 <input class="form-control" name="image" type="file" id="formFile">
                                <!-- display image -->
                                    {% if dvd.image %}
                                        <img class="card-img-top" src="{{ url_for('static', filename='images/'+dvd.image ) }}" alt="Card image cap" id="imageCard" style="width: 30rem; height: 30rem;">
                                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Genre</label>
                <div class="col-sm-10">
                    <input type="text" name="genre" class="form-control" id="inputEmail3" value="{% if dvd %} {{ dvd.genre }} {% endif %}" required>
                </div>
            </div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit DVD</button>
                </div>
        </form>
    </div>
{% endblock %}