<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section>
        <h1>Welcome to Ultimate Movie Vendor!</h1>
    </section>
<i class="fa-regular fa-compact-disc"></i>
    <!-- movie dashboard for users and owner-->
    <section>
        <div>
            <!-- movie 1 -->
            <h2>Horror Movie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <img src="assets/images/Horror Movie Poster.png" alt="Horror Movie Poster" width="200px" height="200px">
        </div>
        <hr>
        <div>
            <h2>Action Movie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <img src="images/Maze Movie Poster.png" alt="Action Movie Poster" width="200px" height="200px">
        </div>
        <hr>
        <div>
            <h2>Maze Movie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <img src="assets/images/Maze Movie Poster.png" alt="Action Movie Poster" width="200px" height="200px">
        </div>
    </section>

    <a href="http://127.0.0.1:5000/user_register">Link to user registration</a>
    <hr>
    <a href="http://127.0.0.1:5000/dvd_review_register">Link to dvd review register</a>
    <hr>
    <a href="http://127.0.0.1:5000/add_dvd">Link to add dvd</a>

</body>
</html>