{% include 'header.html'%}  <!-- include header as already inherited main -->
{% block body %}

    <h1>Please add your review in the below form.</h1>
    <hr>

    <div class="container">
    <!-- how to add foreign keys to database -->
        <form  method="POST"  action="{{ url_for('submit_dvd_review',  dvd=dvd, user=user ) }}">
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Name of DVD</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputEmail3" value="{{ dvd.name }}" required readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10">
                    <input type="text" name="" class="form-control" id="inputEmail3" value="{{ user.firstname + ' ' + user.lastname }}" required readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label">Review</label>
                <div class="col-sm-10">
                    <input type="text" name="review" class="form-control" id="inputEmail3" required>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Rating (Out of 5 <i class="fa-solid fa-star"></i>)</label>
                <select class="form-control" name="rating" id="exampleFormControlSelect1" required>
                    <option value="">Please select</option>
                    <option value="1">1 Star</option>
                    <option value="2">2 Star</option>
                    <option value="3">3 Star</option>
                    <option value="4">4 Star</option>
                    <option value="5">5 Star</option>
                </select>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}