{% include 'header.html'%} <!-- include header as already has inherited main -->
{% block body %}
<!DOCTYPE html>
<body>
    <!-- https://www.youtube.com/watch?v=9HcxHDS2w1s Gallery -->
    <!-- django or flask project gallery -->
    <div class="container">
        <h3>Video Game Gallery</h3>
    </div>

    <section aria-label="Newest Photos">
        <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8592;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8594;</button>
            <ul data-slides>
            {% for dvd in dvds %}
                    {% if loop.first %}
                        <li class="slide" data-active>
                            <img src="{{ dvd.image_url }}" alt="{{ dvd.name }}">
                        </li>
                    {% else %}
                        <li class="slide">
                            <img src="{{ dvd.image_url }}" alt="{{ dvd.name }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

</body>
</html>

{% endblock %}