{% extends 'main.html'%}        <!-- inherit main.html -->
{% block body %}

    <style>
        .padding {
            padding-top: 10px;
        }
    </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>Ultimate Movie Vendor</b> <img src="static/images/DVD favicon.png" style="height: 25px; width: 25px;"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" class="padding">
        <a class="nav-link" href="{{ url_for('homepage') }}">Dashboard <i class="fa-sharp fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item" class="padding">
        <a class="nav-link" href="{{ url_for('register_user') }}">User Registration Form <i class="fa-solid fa-user"></i></a>
      </li>
      <li class="nav-item" class="padding">
        <a class="nav-link" href="{{ url_for('add_dvds') }}">Submit a DVD <i class="fa-sharp fa-solid fa-compact-disc"></i></a>
      </li>
      <li class="nav-item" class="padding">
        <a class="nav-link" href="{{ url_for('reviews') }}">View DVD Reviews<i class="fa-sharp fa-solid fa-compact-disc"></i></a>
      </li>
      <li class="nav-item dropdown" class="padding">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Extra
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('help') }}">Help</a>
          <a class="dropdown-item" href="{{ url_for('credits') }}">Credits</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div style="color:black;">
            <b>Current User:</b> {{ current_user.email }}
        </div>
        &nbsp;
        <form method="GET" action="{{ url_for('sign_in') }}">
            <button class="btn btn-success" type="submit" name="sign_in">Login</button>
        </form>
        &nbsp;
        <form method="GET" action="{{ url_for('log_out') }}">
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
    </form>
  </div>
</nav>
{% endblock %}