{% extends 'main.html'%}        <!-- inherit main.html -->
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>Ultimate Movie Vendor</b><i class="fa-regular fa-compact-disc"></i></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/">Dashboard <i class="fa-sharp fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/user_register">User Registration Form <i class="fa-solid fa-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/add_dvd">Submit a DVD <i class="fa-sharp fa-solid fa-compact-disc"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:5000/reviews">View DVD Reviews<i class="fa-sharp fa-solid fa-compact-disc"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Extra
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:5000/help">Help</a>
          <a class="dropdown-item" href="http://127.0.0.1:5000/credits">Credits</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}