{% include 'header.html'%}                        <!-- include header as already has inherited main -->
{% block body %}

    <h1 style="padding-top: 15px;">Need help to use this App?</h1>

    <p>Ultimate Movie Vendor is an application where users can sign in and submit their DVDs they have for sale.</p>
    <p>Users can also add reviews for a DVD and these will be stored in the database and can help catalogue their collection.</p>
    <p>The collection of reviews can be used for movie clubs in which people can trade ratings and experiences with a movie.</p>

    <h1 style="padding-top: 15px;">App Features</h1>
    <ol>
        <li>Dashboard</li>
        <p>The dashboard will display all the movies you have submitted and will act as the homepage.</p>
        <li>Adding Users</li>
        <p>Add a user via the registration form.</p>
    </ol>




{%  endblock %}