{% include 'header.html'%} <!-- include header as already has inherited main -->
{% block body %}
<div id="page_header"></div>
<br>
<style>
      .gold_star {
        width: 40px;
        height: 40px;
      }

      #dashboard-img {
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
      }

  .modal-backdrop {
    background-color: transparent;
  }
    .modal.no-backdrop::before {
    display: none;
  }

</style>

<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>

    <div class="container" style="text-align: center;">
        <h1 id="dashboard_title">Dashboard</h1>
    </div>

  <div class="d-flex justify-content-center">
    <img src="/static/images/Dashboard_DVDs.jpg" alt="DVDs on a Shelf" class="img-fluid" id="dashboard-img">
  </div>

<!-- dashboard logo -->
<div class="container">
  <div class="row" id="dashboard">
    <div class="col-10 text-center">
          {% if dvds %}
            <p class="text-center font-weight-bold" style="padding-left: 30px; padding-top: 20px;">Total DVDs in your collection:   {{ dvds|length }}</p>
          {% else %}
            <div class="col-10 justify-content-center" style="padding-top: 10px; padding-bottom: 10px; text-align: center;">
              <h3><b>You have no DVD's in your collection, please add one using the above forms, or click help for more information.</b></h3>
            </div>
          {% endif %}

      {% if error %}
        <p>{{ error }}</p>
      {% endif %}

      </div>

      {% if dvds %}
        <div class="dropdown" id="order_btn">
          <!-- order by button -->
          <button class="dropdown-toggle btn btn-info btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-bottom: 20px; color: white; background-color: mediumpurple;">
            Order By
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="?sort=newest">Order By Newest Date</a>
            <a class="dropdown-item" href="?sort=highest_rating">Order By Highest Rating</a>
            <a class="dropdown-item" href="?sort=lowest_rating">Order By the Lowest Rating</a>
          </div>
        </div>
      {% endif %}

        <!-- Help button -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#helpModal" style="color: white; background-color: gold;">
          Help
        </button>

        <!-- Help modal -->
        <div class="modal no-backdrop" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Help ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    help em out
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <hr>
    </div>
  </div>
</div>

  <br>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if dvd_id %}
            <p>DVD {{ dvd_id }} has been created.</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% for dvd in dvds %}
    <div class="container">
      <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <div class="card mb-6 shadow-sm">
              {% if dvd.image_url %}
                <p class="card-text text-center"><img src="{{ dvd.image_url }}" class="img-fluid mx-auto" style="text-align: center; height: 200px; width: 200px;"></p>
              {% endif %}
                <div class="card-body">
                      <h5 class="card-title text-center"><span class="titles">Name:</span> {{ dvd.name }}</h5>
                      <p class="card-text text-center"><span class="titles">Description:</span> {{ dvd.description }}</p>
                      <p class="card-text text-center"><span class="titles">Price:</span> £{{ dvd.price }}0</p>
                      <p class="card-text text-center"><span class="titles">Genre:</span> {{ dvd.genre }}</p>
                      <p class="card-text text-center"><span class="titles">Quantity in stock:</span> {{ dvd.quantity }}</p>
                      <p class="card-text text-center"><span class="titles">Date:</span> {{ dvd.created_date }}</p>
                      <p class="card-text text-center"><span class="titles">Rating:</span>
                        {% if dvd.dvd.rating == 1 %} <img class="gold_star" src="/static/images/gold star.jpg">
                        {% elif dvd.dvd.rating == 2 %} <img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg">
                        {% elif dvd.dvd.rating == 3 %} <img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg">
                        {% elif dvd.dvd.rating == 4 %} <img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg">
                        {% elif dvd.dvd.rating == 5 %} <img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg"><img class="gold_star" src="/static/images/gold star.jpg">
                        {% else %} No DVD rating available.
                        {% endif %}
                      </p>
                        <div class="card-body mb-3">
                          <div class="d-flex flex-column justify-content-center">
                            <form method="GET" action="{{ url_for('submit_dvd_review', id=dvd.id) }}" class="my-2 text-center">
                              <input type="hidden" id="id" name="id" value="{{ dvd.id }}">
                              <input type="submit" value="Add Review?" class="btn btn-primary btn-sm">
                            </form>

                            <form method="GET" action="{{ url_for('update_dvd', id=dvd.id) }}" class="my-2 text-center">
                              <input type="hidden" id="id" name="id" value="{{ dvd.id }}">
                              <input type="submit" value="Update DVD?" class="btn btn-warning btn-sm" style="background-color: yellow; color: black;">
                            </form>

                            <form method="POST" action="{{ url_for('delete_dvd', id=dvd.id) }}" class="my-2 text-center" onsubmit="return alertUser()">
                              <input type="hidden" id="id" name="id" value="{{ dvd.id }}">
                              <input type="submit" value="Delete DVD?" class="btn btn-danger btn-sm" style="background-color: red; color: white;" id="delete">
                            </form>
                          </div>
                        </div>

                    </div>
            </div>
        </div>
      </div>
    </div>
{% endfor %}


<div class="row">
    <div class="col-md-12" style="text-align: center; padding-top: 10px;">
      <a href="#page_header"><button type="button" class="btn btn-success" style="background-color: blue; color: white;">Return to top of the page?</button></a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    {% if dvd_added %}
      $('#successModal').modal('show');
    {% endif %}
  });

{% if message %}

  alert('{{ message }}');

{% endif %}

{% if error %}

  alert('{{ error }}');

{% endif %}


</script>

{% endblock %}