{% include 'header.html'%}                        <!-- include header as already has inherited main -->
{% block body %}
    <div class="container">
        <h1>View your DVD reviews</h1>
        <img src="static/images/Review Writing note.png" style="height: 200px; width: 200px;">
    </div>
    <hr>

    <div class="container" style="padding-top: 30px; border: 2px black;">
        <div class="row">
        <div class="col-md-6 justify-content-center" style="text-align: center;">
        {% for review in reviews %}
        <div class="review-card" style="width: 30rem; border: 5px black">
         {% if review.dvd.name  %}
            <li class="list-group-item"><b>DVD:</b> {{  review.dvd.name }}</li>
         {% endif %}

              {% if review.dvd.image %}
                <img class="card-img-top" src="{{ url_for('static', filename='images/'+review.dvd.image ) }}" alt="Card image cap" id="imageCard" style="width: 30rem; height: 30rem;">
              {% endif %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Review:</b> {{  review.review }}</li>
            <li class="list-group-item"><b>Rating:</b>
            <!-- for loop to iterate over number of stars -->
                {% for i in range(review.rating)  %}
                    <img id="gold_star" src="static/images/gold star.jpg">
                {% endfor %}
            </li>
          </ul>
            DVD id: {{ review.dvd_id }}

            {% if message %}
              <p>{{ message }}</p>
            {% elif error %}
              <p>{{ error }}</p>
            {% endif %}

            <!-- pass in review_id into delete function -->
            <form method="POST" action="{{ url_for('delete_dvd_reviews_by_dvd_id') }}">
              <label for="dvd_id">Delete this DVD review?</label>
              <input type="text" id="dvd_id" name="dvd_id" value="{{ review.dvd_id }}">
              <input type="submit" value="Delete Reviews">
            </form>

        </div>
        </div>
            </div>
    {% endfor %}

    </div>

{% endblock %}
